{% extends 'base.html' %}
{% block content %}

<div class="cee-manage-broker-wrapper">
    {% if messages %}
    <div class="container mt-3">
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
                {{ message|safe }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endfor %}
    </div>
    {% endif %}
    <div class="cee-manage-header">
        <h4>Manage Driver</h4>
        {% if request.GET.mode != 'add' and request.GET.mode != 'edit' %}
            <div id="search-bar" class="cee-search-container d-flex justify-content-center flex-grow-1 mx-4" >
                <form method="get" action="{% url 'driver_manage' %}" class="w-100 d-flex justify-content-center">
                    <input type="hidden" name="mode" value="list">
                    <div class="input-group shadow-sm rounded-pill" style="max-width: 480px; background: white;">
                        <span class="input-group-text bg-transparent border-0 ps-4">
                            <i class="bi bi-search text-primary"></i>
                        </span>
                        <input type="text"
                            name="q"
                            class="form-control border-0 shadow-none"
                            placeholder="Search driver name,branch..."
                            autocomplete="off">
                    </div>
                </form>
            </div>
        {% endif %}
        <div class="cee-action-buttons">
            <button class="cee-action-btn {% if request.GET.mode == 'add' %}active{% endif %}" 
                    id="btn-show-form" 
                    title="Add New Driver">
                <i class="bi bi-plus-lg"></i>
            </button>
            
            <button class="cee-action-btn {% if not request.GET.mode %}active{% endif %}" 
                    id="btn-show-list" 
                    title="View Driver List">
                <i class="bi bi-list-ul"></i>
            </button>
        </div>
    </div>

    <div class="view-container {% if active_tab not in 'add edit' %}d-none{% endif %}" id="view-form">
        <div class="cee-broker-form-container">
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="cee-form-row">
                    <div class="cee-form-group">
                            <label>Branch<span style="color:red;">*</span></label>
                            <select name="branch" required>
                                <option value="">Select an option</option>
                                {% for branch in branches%}
                                <option value="{{ branch.branch_id }}"
                                        {% if drivers.branch.branch_id == branch.branch_id %}selected{% endif %}>
                                    {{ branch.branch_name }}
                                </option>
                                {% endfor %}
                            </select>
                    </div>
                        
                    <div class="cee-form-group">
                        <label>Name<span style="color:red;">*</span></label>
                        <input type="text" name="driver_name" style="text-transform: uppercase;" value="{{ drivers.driver_name|default:'' }}" placeholder="Enter Name">
                    </div>
                    <div class="cee-form-group">
                        <label>Address<span style="color:red;">*</span></label>
                        <input type="text" name="driver_address" style="text-transform: uppercase;"  value="{{ drivers.driver_address|default:'' }}" placeholder="Enter Address">
                    </div>
                    <div class="cee-form-group">
                        <label>Phone<span style="color:red;">*</span></label>
                        <input type="tel" name="phone" maxlength="10" inputmode="numeric" oninput="this.value=this.value.replace(/[^0-9]/g,'').slice(0,10)" required value="{{ drivers.driver_phone|default:'' }}" pattern="[0-9]{10}" placeholder="9999988888">
                    </div>
                    <div class="cee-form-group">
                        <label>Document<span style="color:red;">*</span></label>
                        <input type="file" name="driver_document" required value="{{ drivers.driver_document|default:'' }}">
                    </div>
                </div>
                <div class="cee-form-row">
                    <div class="cee-checkbox-group">
                        <label><input type="checkbox" name="is_active" {% if not is_edit or drivers.driver_is_active %}checked{% endif %}> Active</label>
                    </div>
                    <div class="cee-checkbox-group">
                        <label><input type="checkbox" name="available_all" {% if not is_edit or drivers.available_all %}checked{% endif %}>Available</label>
                    </div>
                </div>
                <button type="submit" class="cee-btn-save">Save User</button>
            </form>
        </div>
    </div>

    <div class="view-container {% if request.GET.mode == 'add' %}d-none{% endif %}" id="view-list">
        <div class="p-4">
            <div class="table-wrapper">
            <table class="table table-bordered table-hover">
                <thead class="custom-thead">
                    <tr>
                        <th class="custom-subhead">#</th>
                        <th class="custom-subhead">Branch</th>
                        <th class="custom-subhead">Name</th>
                        <th class="custom-subhead">Phone</th>
                        <th class="custom-subhead">Address</th>
                        <th class="custom-subhead">Is Active?</th>
                        <th class="custom-subhead">Is Available?</th>
                        {% if user.role == "ADMIN" %}
                        <th class="custom-subhead">Action</th>
                        {% endif %}
                    </tr>
                </thead>
                <tbody>
                    {% for drv in driver %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td>{{ drv.branch.branch_name|upper }}</td>
                        <td>{{ drv.driver_name|upper }}</td>
                        <td>{{ drv.driver_phone }}</td>
                        <td>{{ drv.driver_address}}</td>
                        <td>
                            <span class="badge {% if drv.driver_is_active %}bg-success{% else %}bg-danger{% endif %}">
                                {{ drv.driver_is_active|yesno:"YES,NO" }}
                            </span>
                        </td>
                        <td>
                            <span class="badge {% if drv.available_all %}bg-success{% else %}bg-danger{% endif %}">
                                {{ drv.available_all|yesno:"YES,NO" }}
                            </span>
                        </td>
                        {% if user.role == "ADMIN" %}
                        <td>
                            <a href="{% url 'driver_edit' drv.driver_id %}" class="btn btn-sm btn-success">
                                <i class="bi bi-pencil"></i>
                            </a>
                            <a href="{% url 'driver_delete' drv.driver_id %}" class="btn btn-sm btn-danger">
                                <i class="bi bi-trash"></i>
                            </a>
                        </td>
                        {% endif %}
                    </tr>
                    {% empty %}
                    <tr><td colspan="9" class="text-center py-4">No drivers found</td></tr>
                    {% endfor %}
                </tbody>
            </table>
            </div>
        </div>
    </div>
</div>


{% endblock %}