{% extends "base.html" %}
{% block content %}

<div class="container mt-4">

<h3>Commission Details - {{ branch.branch_name }}</h3>

<!-- BOOKING COMMISSION -->
<div class="card p-3 mb-4">
    <h5 class="text-primary">Booking Commission</h5>

    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Company</th>
                <th>Booking Freight Percentage (%)</th>
                <th>LR Commissoin Percentage (%)</th>
            </tr>
        </thead>
        <tbody>
            {% for bc in booking_commissions %}
            <tr>
                <td>{{ bc.company.comp_name }}</td>
                <td>{{ bc.percentage }} %</td>
                <td>{{ bc.lr_commission }} %</td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="2" class="text-center text-danger">
                    No Booking Commission Found
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<!-- DELIVERY COMMISSION -->
<div class="card p-3">
    <h5 class="text-success">Delivery Commission</h5>

    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Company</th>
                <th>From Zone</th>
                <th>Delivery Freight Commission (%)</th>
                <th>Inter Zone Deduction (%)</th>
            </tr>
        </thead>
        <tbody>
            {% for dc in delivery_commissions %}
            <tr>
                <td>{{ dc.company.comp_name }}</td>
                <td>{{ dc.from_zone }}</td>
                <td>{{ dc.percentage }} %</td>
                <td>{{ dc.deduction_percentage }} %</td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="4" class="text-center text-danger">
                    No Delivery Commission Found
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

</div>

{% endblock %}
